
# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
citiesDf = pd.read_csv("CityData.csv")
citiesDf.head()

,city,id,cloudiness,country,date,humidity,lat,lng,maxTemp,windSpeed
0,Hermanus,3366880,15,ZA,1584512108,94,-34.42,19.23,291.48,1.79
1,Torbay,6167817,75,CA,1584512108,74,47.67,-52.73,273.15,9.30
2,Spornoye,578283,0,RU,1584512108,55,50.84,37.29,274.15,4.00
3,Jutaí,3663693,99,BR,1584512108,98,-5.18,-68.90,295.90,0.83
4,Athabasca,5887916,83,CA,1584512108,98,54.72,-113.29,259.80,0.78

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

coords = []
humidity = []
	
#iterate over all the rows
for (index, row) in citiesDf.iterrows():
   coords.append((row["lat"],row["lng"]))
   humidity.append(row["humidity"])


# Add the layer to the figure
fig.add_layer(gmaps.heatmap_layer(coords, weights=humidity))
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Sunny cities
#small chance of clouds
wantedCities = citiesDf.loc[citiesDf["cloudiness"] <= 20.0]
wantedCities.reset_index(inplace=True)
#low humidity
wantedCities = sunnyCities.loc[sunnyCities["humidity"] <= 40.0]
wantedCities.reset_index(inplace=True)
wantedCities

,index,city,id,cloudiness,country,date,humidity,lat,lng,maxTemp,windSpeed
0,0,Hermanus,3366880,15,ZA,1584512108,94,-34.42,19.23,291.48,1.79
1,2,Spornoye,578283,0,RU,1584512108,55,50.84,37.29,274.15,4.00
2,5,Cape Town,3369157,20,ZA,1584511831,93,-33.93,18.42,294.26,3.10
3,6,La Ronge,6050066,20,CA,1584512109,69,55.10,-105.28,248.15,1.00
4,7,Port Alfred,964432,0,ZA,1584512109,90,-33.59,26.89,292.04,2.68
...,...,...,...,...,...,...,...,...,...,...,...
196,566,Bayangol,2027002,1,RU,1584512235,37,50.70,103.47,273.80,2.00
197,569,Mildura,2157698,2,AU,1584512236,16,-34.20,142.15,308.15,2.60
198,570,Dingle,1714733,14,PH,1584512236,60,11.00,122.67,303.30,6.06
199,571,Price,5545269,1,US,1584512236,44,39.60,-110.81,278.71,2.60
200,573,Macamic,6062563,20,CA,1584512236,84,48.75,-79.00,257.15,1.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map