
# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
citiesDf = pd.read_csv("CityData.csv")
citiesDf.head()

,city,id,cloudiness,country,date,humidity,lat,lng,maxTemp,windSpeed
0,Chokurdakh,2126123,0,RU,1584419897,88,70.63,147.92,248.54,0.92
1,Korla,1529376,67,CN,1584419898,22,41.76,86.15,281.04,2.10
2,Schisma Eloundas,253666,75,GR,1584419898,62,35.27,25.72,284.26,10.80
3,Karratha,6620339,0,AU,1584419898,69,-20.74,116.85,303.54,6.33
4,Kruisfontein,986717,40,ZA,1584419898,72,-34.00,24.73,290.04,3.90

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

coords = []
humidity = []
	
#iterate over all the rows
for (index, row) in citiesDf.iterrows():
   coords.append((row["lat"],row["lng"]))
   humidity.append(row["humidity"])


# Add the layer to the figure
fig.add_layer(gmaps.heatmap_layer(coords, weights=humidity))
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map